@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html,
  body {
    @apply bg-neu-whi-100 text-neu-gre-900 min-h-screen;
  }
}

/* Remove the default styles that might be conflicting */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove the default button styles */
button {
  @apply border-none bg-transparent p-0;
}

/* Remove the default dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}